<div class="color_test">
  <div class="panel-heading">
    <b>Color Test</b>
  </div>
  <div class="panel-body">
    <div class="row">
      <h3><b>Cody Johnson</b> - Has Completed the Color Test</h3>
    </div>
    <div class="row">
      <div class="col-md-6" style="height:200px;display:block;position:relative;text-align:right">
        <div style="width:180px;height:180px" class="center both" tooltip-placement="bottom" uib-tooltip="Color Test">
          <canvas id="doughnut" class="chart chart-doughnut" chart-data="[5,5,5,5]" chart-legend="false" chart-colours="['#97BBCD', '#DCDCDC', '#F7464A', '#FDB45C']" chart-labels="['','','','']" chart-options="options2" height="10px" width="10px">
      </canvas>
        </div>
      </div>
      <div class="col-md-2" style="height:200px;display:block;position:relative;text-align:left">
        <div class="btn btn-primary">
          Download
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align:center">
      <div class="btn btn-success">
        Resolve
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align:center">

      <div class="btn btn-warning">
        Postpone
      </div>
    </div>
  </div>
  </div>
</div>
