<div style="text-align:center">
  <label>Next Step</label>
  <div ng-click="email.$show()" >
    <span class="clickable" style="font-weight:bolder;text-decoration:none;color:black;border:none" editable-text="recruit.NextStep" onaftersave="recruit.NextStepScheduled = null" e-form="email" >{{recruit.NextStep}}</span>
  </div>
  <label style="margin-top:10px">Last Updated</label>
  <div>
  <input class="form-control" ng-model="recruit.NextStepUpdated" disabled/>
  </div>
  <label style="margin-top:10px">Set Reminder</label>
  <div ng-click="showReminder=!showReminder">
    <input ng-change="saveRecruitStatus(recruit)" type="text" class="form-control" uib-datepicker-popup ng-model="recruit.NextStepScheduled" is-open="showReminder" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
  </div>
  <div ng-click="saveRecruitStatus(recruit)" class="btn btn-success" style="margin-top:20px">
    Save
  </div>
</div>
