.context_menu{
  background:none;
  //
  ul.dropdown-menu{
    //background-image: linear-gradient(-44deg, darken(@color-primary-1,10%) 1%,darken(@gray-lighter,8%) 56%, darken(@gray-lighter,10%) 100%);
    background:fade(lighten(@gray-lighter,10%),99%);
    .BoxShadowHelper(5);
    border:none;
    //color:white;
    a{
      .Font_Body;
      font-size:15px;
      padding:10px;
      padding-left:20px;
      padding-right:20px;
      i{
        margin-right:10px;
        font-size: 20px;
      }
      &:hover{
        color:black;
        background:fade(black,8%);
      }
    }
  }
}
.result{
  .Font_Body;
  .BoxShadowHelper(1);
  width:100%;
  font-size: 15px;
  background:white;
  margin:10px 0px;
  border-radius:10px;
  padding:10px;
  position: relative;
  display:block;
  .clickable;
  .type{
    .center.vertical;
    .BoxShadowHelper(1);
    position:absolute;
    height:35px;
    width:35px;
    background: @color-button;
    border-radius:100%;
    //top:-8px;
    right:-10px;
    padding:0!important;
    i{
      .center.both!important;
      
      margin:0px!important;
      color:white!important;
      font-size: 18px!important;
    }
  }
  
  &:hover{
   background:lighten(@gray-pleasing,60%);
  }
  &.recruit{
    .avatar{
      .BoxShadowHelper(1);
      .center.vertical;
      border-radius:100%;
      height:60px;
      width:60px;
      left:20px;
      border: 1px solid @color-button;
      margin-right:10px;
    }
    .text{
      padding-left:90px;
      display:inline-block;
      .name{
        padding:0px;
        height:20px;
      }
      .status{
        font-size:12px;
        &.active{
          span{
          font-size:10px;
          background:@tech;
          padding:5px;
          border-radius:5px;
          }
        }
        &.archived{
          span{
          font-size:10px;
          background:lighten(@gray-pleasing,20%);
          padding:5px;
          border-radius:5px;
          }
        }
      }
    }
  }
  &.task{
    display: block;
    position: relative;
    .body{
      display: inline-block;
      line-height: 15px;
      padding-top:15px;
    }
   .type{
     background: @color-secondary-2-0;
   }
    span{
      margin:0;
      line-height: 10px;
      .Font_Body!important;
      font-size: 10px;
    }
    .task-panel{
      height:auto;
      box-shadow: none;
      background: none;
      margin:0px!important;
      padding:0;
      line-height:15px;
      min-height:100px;
      .regarding{
        bottom:0px;
      }
      .completed{
        display: inline-block;
        margin-left:5px;
        
        color:@gray-pleasing;
        i{
          color: @tech!important;
          text-shadow: none;
          font-size:14px;
          margin-right:5px;
        }
        font-size:12px;
      }
      .time{
        bottom:8px;
        i{
          color:lighten(@gray-pleasing,40%)!important;
        }
      }
      .priority{
        span{
          color:white!important;
        }
      }
    }
  }
}
.search_menu{
  border-radius: 5px!important;
  .BoxShadowHelper(5)!important;
  background-color:fade(#FFFFFF,95%);
  max-height:400px;
  .scrollbar;
  .result{
    .Font_Body;
    width:100%;
    font-size: 15px;
    background:none!important;
    .clickable;
    i{
      color:@color-primary-0!important;
      font-size: 25px!important;
    }
    &:hover{
      background-image: linear-gradient(-44deg, @color-primary-0 1%,@color-primary-2 56%, @color-primary-1 100%)!important;

    }
    &.task{
      .body{
        display: inline-block;
        line-height: 15px;
        padding-top:15px;
      }
      i{
        color:@color-secondary-2-0!important;

      }
      span{
        margin:0;
        line-height: 10px;
        .Font_Body!important;
        font-size: 10px;
      }
    }
  }
  .header{
    border-radius: 5px 5px 0 0;
    background-color: #e5e5e5!important;
    .BoxShadowHelper(1);
    i{
      position: absolute;
      color:#8F8F8F!important;
      top:20px;
      left:20px;
    }
    input{
      border:none;
      height:35px;
      padding:5px;
      padding-left:30px;
      width:100%;
      border-radius: 5px;
      border: 1px solid #dadada;


    }
  }
}
.notification_list{
  padding:10px;
.new_task_not{
  .BoxShadowHelper(1);
  .clickable;
  width:100%;
  height:60px;
  border-radius: 8px;
  background: white;
  overflow: hidden;
  padding: 10px 10px 10px 70px!important;
  line-height: 15px!important;
  margin-bottom:10px;
  .first{
    margin: 0px!important;
    padding: 0px!important;
    color:@gray-pleasing!important;
    font-size: 15px;
    line-height: 10px!important;
  }
  .recruit_id{
    display: block;
    color:black!important;
    font-size: 11px;
    margin-left: 15px;
  }
  .task_icon{
    padding: 0!important;
    height:100%;
    width:60px;
    position: absolute;
    left:0;
    top:0;
    text-align: center!important;
    display: block;
    background: @color-button;
    .overlay('Happy_Acid',60%);
    i{
      margin:auto!important;
      color:white!important;
      font-size: 30px!important;
      line-height: 60px!important;
    }
  }
}
.date_not{
  .BoxShadowHelper(1);
  .clickable;
  width:100%;
  height:60px;
  border-radius: 8px;
  background: white;
  overflow: hidden;
  padding: 10px 10px 10px 70px!important;
  line-height: 15px!important;
  .first{
    margin: 0px!important;
    padding: 0px!important;
    color:@gray-pleasing!important;
    font-size: 15px;
    line-height: 10px!important;
  }
  .recruit_id{
    display: block;
    color:black!important;
    font-size: 11px;
    margin-left: 15px;
  }
  .date_icon{
    .Font_Body;
    color:white;
    padding: 5px;
    height:100%;
    width:60px;
    position: absolute;
    left:0;
    top:0;
    text-align: center!important;
    display: block;
    background: @color-secondary-2-3;
    font-size: 30px;
    .overlay('Mean_Fruit',40%);
    .month{
      text-align: center!important;
      .Font_Body!important;
      color:white!important;
      font-size: 12px!important;
      line-height: 22px!important;
    }
  }
}
}
