<div class="view">
<div class="style_sub_header">
  <div class="background">

  </div>
  <span>Colors</span>
</div>
<div ng-include="'views/Style/Partials/colors.html'">

</div>
<div class="style_sub_header">
  <div class="background">

  </div>
  <span>Logos</span>
</div>
<div ng-include="'views/Style/Partials/logos.html'">

</div>
<div class="style_sub_header">
  <div class="background">

  </div>
  <span>Fonts</span>
</div>
<div ng-include="'views/Style/Partials/fonts.html'">

</div>
</div>
<!--
<div class="view style_guide">


<div class="slide">


<img src="images/styleguide/StyleGUIDE.svg"  class="center both" style="max-width:100%;max-height:100%"/>
</div>
<div class="slide">
<img src="images/styleguide/INTENT.svg"  class="center both" style="max-width:100%;max-height:100%"/>
</div>
<div class="slide" >


</div>
</div>-->
