<div class="Color_Pallate">
  <div class="row">
  <div class="col-md-3 col-sm-6">
  <div class="Color_Swatch">
    <div class="main_color hvr-grow"></div>
    <div class="swatches_color">
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
    </div>
  </div>
</div>
  <div class="col-md-3 col-sm-6">
  <div class="Color_Swatch secondary_1">
    <div class="main_color hvr-grow"></div>
    <div class="swatches_color">
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
    </div>
  </div>
</div>
  <div class="col-md-3 col-sm-6">
  <div class="Color_Swatch secondary_2">
    <div class="main_color hvr-grow"></div>
    <div class="swatches_color">
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
    </div>
  </div>
</div>
  <div class="col-md-3 col-sm-6">
  <div class="Color_Swatch accent">
    <div class="main_color hvr-grow"></div>
    <div class="swatches_color">
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
      <div class="hvr-grow"></div>
    </div>
  </div>
</div>
</div>
</div>
