<div class="widget task-widget">
  <div class="widget-header">
    My Tasks
    <div class="button">
      New Task
    </div>
  </div>
  <div class="widget-body">
    <div class="task-panel" ng-repeat="Task in Task.currentUsersTasks|orderBy:'-Created_Date'">
      <div class="new" ng-show="Task.Status=='New'">

      </div>
      <div class="title">
        {{Task.Title}}
      </div>
      <div class="actions" uib-dropdown is-open="Task.isopen">
        <i class="fa fa-edit" ng-click="ViewTask(Task.Task_ID)"></i>
        <i class="fa fa-ellipsis-h" uib-dropdown-toggle></i>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a ng-click="resetPassword(user.user_name)">Marks as Seen</a></li>
        <li role="menuitem"><a href="#">Mark as Done</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Remove</a></li>
      </ul>
      </div>
      <div class="priority">
        Priority: <span ng-style="Task.Priority=='Medium' &&{'background-color':'#FFE372'}||Task.Priority=='High' &&{'background-color':'#FF7C72'}">{{Task.Priority|| 'None'}}</span>
      </div>
      <div class="regarding">
          <img ng-show="Task.RecruitName" class="task_image_small" ng-src="https://jfsapp.com/Images/Recruits/{{Task.ProfilePic||'blank.jpg'}}" />
          <div ng-hide="Task.RecruitName" class="logo_circle"><img  class="task_image_logo" ng-src="https://jfsapp.com/Open/API/Images/Brand/Logos/JFS/Logo_Main_Simp.png" /></div>
        {{Task.RecruitName||'General'}}
      </div>
      <div class="time" ng-show="Task.Due_Date">
        <i class="fa fa-clock-o"></i>
        {{Task.Due_Date|momentdate:'MMM Do Y'}}
      </div>
    </div>
  </div>
</div>
