
<div >
  Set Password<br />
  Let's get a password set up so you can login.
</div>
<div ng-controller="PasswordCtrl">

<div class="default_form">
  <form class="body">
    <div class="row">
      <div class="col-md-12 input" style="height:auto!important">
        <div class="title">New Password</div>
        <input type="password"  id="Password" ng-model="NewPassword" ng-change="PasswordsMatch()" placeholder="Password">
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 input" style="height:auto!important">
      <div class="title">Confirm Password</div>
    <input type="password"  id="PasswordConfirm" ng-model="NewPasswordConfirm" placeholder="Confirm Password">
  </div>
  </div>
   <button ng-click="changePasswordOnboarding(NewPassword)" ng-show="PasswordsMatch() && NewPassword.length > 0 && NewPasswordConfirm.length >0" type="submit" class="btn btn-info submit hvr-bounce-in">Submit</button>
   <span ng-hide="PasswordsMatch()" class="form_error">*Passwords Don't Match</span>
   <span ng-show="NewPassword.length > 0 && NewPasswordConfirm.length==0" class="form_error">*Please Confirm Password</span>
</form>
</div>
</div>
</div>
