
  <div class="modal-body notes_modal" ng-controller="NotesCtrl">

      <i class="fa fa-ellipsis-v" ng-click="showSidebar=!showSidebar"></i>
      <div class="note_header" ng-click="edit=true">
        <input ng-model="currentNote.Title" />
      </div>
      <div class="note_body">
        <div class="note_text" ng-hide="edit" ng-click="edit=!edit" ng-bind-html="to_trusted(currentNote.body)">

      </div>
        <div ng-show="edit" style="display:block;position:relative">
          <div summernote airMode ng-model="currentNote.body" config="editorOptions"></div>
        </div>
      </div>
      <div class="note_footer">
          <i class="icon ion-ios-upload-outline"></i>
          <i class="icon ion-ios-trash-outline" ng-click="deleteNote(currentNote)"></i>
          <i ng-show="edit" ng-click="saveNote(currentNote);edit=!edit" class="icon ion-ios-checkmark-outline"></i>
      </div>
      <div ng-show="showSidebar" class="side_panel" ng-init="test=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
        <div class="search">
          <span class="fa-stack fa-lg" ng-click="showSidebar=!showSidebar">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-chevron-right fa-stack-1x"></i>
          </span>

          <input ng-model="note_search"/>
          <i class="fa fa-search"></i>
        </div>
        <div class="note_outer_list">
        <div class="note_list" ng-repeat="note in notes|filter:note_search" ng-class="{selected:note.id==currentNote.id}" ng-click="selectNote(note)">
          {{note.Title||'Untitled'|truncate:23:'...'}}
        </div>
      </div>
      <div class="new_note">
        <span class="fa-stack fa-lg" ng-click="newNote();showSidebar=!showSidebar">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
        </span>
      </div>
      </div>

  </div>
