<div class="modal-header"  >
  Password Reset
</div>
<div class="modal-body" style="padding:0" ng-controller="PasswordCtrl">
<div class="modal-body" ng-show="passwordState=='main'">
  <div class="row">
    <div class="modal-panel">
      It Looks Like You've Logged In With a Temporary Password Would You Like To Change Your Password Now.
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="height:50px">

      <div class="center both">
        <div class="btn btn-warning" ng-click="cancel()">
          Not Now
        </div>
        <div class="btn btn-info" ng-click="passwordState='changePassword'">
          Yes
        </div>
      </div>
    </div>
  </div>
</div>
<div class="default_form" ng-show="passwordState=='changePassword'">
  <form class="body">
    <div class="row">
      <div class="col-md-12 input" style="height:auto!important">
        <div class="title">New Password</div>
        <input type="password"  id="Password" ng-model="NewPassword" ng-change="PasswordsMatch()" placeholder="Password">
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 input" style="height:auto!important">
      <div class="title">Confirm Password</div>
    <input type="password"  id="PasswordConfirm" ng-model="NewPasswordConfirm" placeholder="Confirm Password">
  </div>
  </div>
   <button ng-click="changePassword(NewPassword)" ng-show="PasswordsMatch() && NewPassword.length > 0 && NewPasswordConfirm.length >0" type="submit" class="btn btn-info submit_pass hvr-bounce-in">Submit</button>
   <span ng-hide="PasswordsMatch()" class="form_error">*Passwords Don't Match</span>
   <span ng-show="NewPassword.length > 0 && NewPasswordConfirm.length==0" class="form_error">*Please Confirm Password</span>
</form>
</div>
<div class="modal-body clickable" ng-click="cancel()" style="height:200px;" ng-show="passwordState=='success'">
  <div class="success center both">
  <i class="fa fa-check-square-o"></i><br />
  <span>Password Changed</span>
</div>
</div>
</div>
