<div class="file-manager">
  <div class="header">
    <div class="inner-header">
      <span><i class="material-icons md-36">folder</i></span><span>Files</span>
      <button type="button" class="close" aria-hidden="true" ng-click="User.visibility.recruitSidebar=false" style="font-size:30pt;vertical-align:middle">&times;</button>
    </div>
  </div>

  <div class="body">
    <button type="button" class="btn btn-default" ng-click="uploadFile()" style="display:inline:block;position:relative;z-index:20;margin-bottom:10px"><i class="fa fa-file-text"></i><i class="fa fa-plus"></i></button>


    <table ng-init="totalSpace = {}" class="table table-striped">
      <tr>

        <th></th>
        <th>
          Name
        </th>
        <th>
          Uploaded
        </th>
        <th>
          Size
        </th>
        <th>
          Extension
        </th>
        <th></th>
      </tr>
      <tr ng-repeat="document in Recruit.currentRecruit.Info.Documents">
        <td align="right" valign="middle" style="vertical-align:middle"><i ng-class="document.fileIcon" class="fileIcon clickable"></i></td>
        <td e-style="top:10px;display:inline-block;position:relative" e-form="textBtnForm" ng-dblclick="textBtnForm.$show()" editable-text="document.title" style="color:black;vertical-align:middle">{{document.title}} </td>
        <td>{{document.dateUploaded | date : 'MMM d EEE, h:mm a'}}</td>
        <td ng-init="totalSpace.size = totalSpace.size + file.fileSize">{{document.fileSize| byteFmt:0}}</td>
        <td>{{document.fileType}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-danger" ng-click="deleteFile(document)" style="display:inline:block;position:relative"><i class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-success" ng-click="downloadFile(document)" style="display:inline:block;position:relative"><i class="fa fa-download"></i></button>
            <button type="button" class="btn btn-primary" ng-click="previewFile(document)" style="display:inline:block;position:relative"><i class="fa fa-eye"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td style="text-align:right">Total Space</td>
        <td>{{totalSpace.size| byteFmt:0}}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
