<style>
  hr {
    width: 100%;
    border-color: #E0E0E0;
  }
</style>
<div class="container-fluid view task-page" fullscreen="taskIsFullscreen" only-watched-property class="scrollbar">
  <div class="row view">
    <div class="task-sidenav">
      <div class="title">
        Tasks
      </div>
      <div class="tile" ng-click="newGenericTask()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>New Task</span>
      </div>
      <div class="tile" ng-class="{selected:taskFilter.User_ID == currentUser.Info.id}" ng-click="taskFilter.User_ID = currentUser.Info.id;TaskViewOptions.show_users=false">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>My Tasks</span>
      </div>
      <div class="tile" ng-class="{selected:taskFilter.User_ID == ''}" ng-click="taskFilter.User_ID = '';TaskViewOptions.show_users=true">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>All Tasks</span>
      </div>
      <div class="tile" ng-class="{selected:taskIsFullscreen}" ng-click="taskIsFullscreen = !taskIsFullscreen">
        <i class="fa fa-expand" aria-hidden="true"></i>
        <span>Full Screen</span>
      </div>
      <!--<span style="right:0px;position:absolute"><i class="fa fa-bars fa-rotate-90" aria-hidden="true"></i></span>-->

      <div class="tile"  style="text-align:left">
        Order By
        <ul style="list-style:none;padding-left:15px">

          <li ng-click="sort('Priority')" class="clickable"><a>Priority</a></li>
          <li ng-click="sort('Created_Date')" class="clickable"><a>Date Created</a></li>
          <li ng-click="sort('Due_Date')" class="clickable"><a>Deadline</a></li>

        </ul>

      </div>
    </div>
    <div class="task-page-body">
      <div class="task-search">
        <i class="fa fa-search"></i>
        <input  ng-model="taskSearch" type="text" class="form-control" aria-describedby="basic-addon2">
        </div>
        <div class="inner">
            <div ng-show="TaskViewOptions.show_users"  class="user-list scrollbar">
                <div ng-click="taskFilter.User_ID =user_item.id" ng-repeat="user_item in User.userList" class="user" ng-class="{active:taskFilter.User_ID ==user_item.id}" >
                  {{user_item.display_name}}
                </div>
              </div>
      <div class="task-panel" ng-click="showTask(Task)" ng-repeat="Task in Tasks.allTasks|orderBy:sortKey:reverse|filter:taskFilter|filter:taskSearch|filter:{Status:'!'+'Completed'}">
        <div class="new" ng-show="Task.Status=='New'" ng-click="$event.stopPropagation();Task_Seen(Task)">

        </div>
        <div class="title">
          {{Task.Title}}
        </div>
        <div class="actions" uib-dropdown is-open="Task.isopen" ng-click="$event.stopPropagation()">
          <i class="fa fa-check" ng-click="Task_Completed(Task)"></i>
          <i class="fa fa-ellipsis-h" uib-dropdown-toggle ng-click="$event.stopPropagation()"></i>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-click="Task_Seen(Task)"><a>Marks as Seen</a></li>
          <li role="menuitem" ng-click="Task_Completed(Task)"><a>Mark as Done</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="#">Remove</a></li>
        </ul>
        </div>
        <div class="priority">
          Priority: <span ng-style="Task.Priority=='Medium' &&{'background-color':'#FFE372'}||Task.Priority=='High' &&{'background-color':'#FF7C72'}">{{Task.Priority|| 'None'}}</span>
        </div>
        <div class="regarding">
            <img ng-show="Task.RecruitName" class="task_image_small" ng-src="https://jfsapp.com/Images/Recruits/{{Task.ProfilePic||'blank.jpg'}}" />
            <div ng-hide="Task.RecruitName" class="logo_circle"><img  class="task_image_logo" ng-src="https://jfsapp.com/Open/API/Images/Brand/Logos/JFS/Logo_Main_Simp.png" /></div>
          {{Task.RecruitName||'General'}}
        </div>
        <div class="time" ng-show="Task.Due_Date">
          <i class="fa fa-clock-o"></i>
          {{Task.Due_Date|momentdate:'MMM Do Y'}}
        </div>
      </div>
    </div>
    </div>
    <div class="task shadow-6" ng-show="ExpandedView.show">
      <div style="height:100%;position:relative;display:block" ng-include="'views/Task/sidepanel.html'">

      </div>
    </div>
  </div>
</div>
