.messaging {
  .search{
    background: fade(lighten(@gray-pleasing,10%),80%);
    padding:7px;
    padding-left:15px;
    padding-right:15px;
    z-index:2;
    width:100%;
    input{
      border-radius:10px!important;
      height:40px;
      overflow: hidden;
    }
      i{
        top:18px;
        right:25px;
        position: absolute;
        z-index:4;
        color:#72D9D2;
      }

  }
  .sidenav{
    box-shadow-color: rgba(179,205,199,0.40);
    .main{

      &:hover{

      }
    }
  }
  .summary {
    .Font_Body;
    font-size:13px;
    height: 90px;
    padding-left:10px;
    display: block;
    position: relative;
    width:100%;
    overflow-x: hidden;
    border-bottom: 1px solid fade(darken(#E0E0E0,20%),20%);
    .clickable;
    &.selected{
      background: white!important;
      box-shadow: 0 0 20px 5px rgba(179,205,199,0.40);
      border:none;

    }
    img{
      .BoxShadowHelper(1);
    }
  }
  .chat {
    .chat_header{
      .Font_Body;
      height:50px;
      width:100%;
      font-size:15px;
      background:fade(#F6FAF9,90%);
      border-bottom: 1px solid fade(darken(#E0E0E0,20%),30%);
      text-align: center;
      padding:20px;
      display:block;
      color:@gray-pleasing;
      position:absolute;
      z-index:10;
    }
    .chatbody{
      width:100%;
      height:100%;
      background-color:#F6FAF9;
      padding:10px;
      padding-top: 80px;
      padding-bottom:20px;
      .scrollbar;
    }
    .chat_display{
      padding-bottom: 40px;
      padding-top:0;
      height:100%;
    }
    .chat-bubble {
      border-radius: 10px;
      background-color: white;
      padding: 10px;
      display: block;
      color: #6F6F6F;
      font-family: Roboto;
      width: 65%;
      margin: 10px;
      //box-shadow: 0 0 6px #B2B2B2;
      box-shadow: 0 0 30px 0 rgba(179,205,199,0.40);
      padding: 10px 18px;
      position: relative;
      vertical-align: top;
      &.left {
        margin-right: auto;
        //background-color: #86BB71;
        /* Rectangle 2: */
        background-image: linear-gradient(-90deg, fade(#72D9D2,20%) 0%, fade(#72D9D2,50%) 60%);
        box-shadow: 0 0 30px 0 rgba(179,205,199,0.57);
      };
      &.right {
        margin-left: auto;
      }
    };
    .chat-message {
      padding: 10px;
      //background-color: @almost-white;
      position: absolute;
      display: block;
      background: #FFFFFF;
      width:100%;
      bottom:0px;
      border-top: 1px solid fade(darken(#E0E0E0,20%),30%);
      textarea {
        width: 100%;
        border: none;
        height:40px;
        padding: 10px 20px;
        //font: 14px/22px "Lato", Arial, sans-serif;
        //margin-bottom: 10px;
        border-radius: 5px;
        resize: none;
        .Font_Body;
        font-size:15px;
        &:focus{
          height:150px;
          &+.send_btn{
            top:0px;
          }
        }
      };
      button {
        float: right;
        color: #94C2ED;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;
        position: absolute;
        &:hover {
          color: #75b1e8;
        }
      };
      .send_btn{
        position: absolute;
        top:-50px;
        right:0;
        .clickable;
      }
      .fa-file-image-o,
      .fa-file-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;
      };
    }
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
