
		<!--Start Navigation Bar-->
		<div class="hidden-print">
			<div class="navbar" role="navigation">

				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-actions navbar-left" ng-click="Visibility.sidebar=!Visibility.sidebar" style="left:0px; display:block;position:relative" ng-style="Visibility.sidebar && {'left':'10px'}||{'left':'-240px'}">
						<li class="visible-md visible-lg"><a id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
						<li class="visible-xs visible-sm"><a id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown visible-md visible-lg" uib-dropdown is-open="messages.isopen" auto-close="outsideClick">
							<a uib-dropdown-toggle><i class="fa fa-comments"></i><span class="badge shake">{{(UserData.TextMessages|filter:{'status':'0','type':0}).length}}</span></a>
							<ul class="dropdown-menu shadow-5" style="width:300px;overflow-x: hidden;">
								<li class="dropdown-menu-header">
									<strong>Messages</strong>
								</li>
								<div class="scrollbar" style="max-height:500px;overflow-x: hidden">
									<li style="display:block;position:relative" class="avatar" ng-click="ViewMessage(value[0].id_number)" ng-repeat="(key, value) in UserData.TextMessages|filter:{'type':'0','status':'0'}|orderBy:['status','-date_recieved']| groupBy:'[id_number]'" >

										<a style="margin-top:0;top:0;display:inline-block;position:relative" ng-repeat="text in value|orderBy:'-date_recieved'|limitTo:1">
											<img  style="height:50px;width:50px;border-radius:100%;display:inline-block;top:5px;position:absolute" ng-src="https://jfsapp.com/Images/Recruits/{{text.ProfilePic || 'blank.jpg'}}">
											<span  class="badge shake">{{(value|filter:{'status':'0'}).length}}</span>
											<div style="display:inline-block:height:100%;width:300px;position:absolute;padding-left:60px">
											<div style="color:black">{{text.RecruitName||text.id_number|phone}}</div>
											<small>{{text.message|truncate:80}}...</small>
											</div>
										</a>
									</li>
								</div>
								<div>
								<li class="dropdown-menu-footer text-center">
									<strong>View all notification</strong>
								</li>
							</div>
							</ul>
						</li>
						<li class="dropdown visible-md visible-lg" uib-dropdown is-open="status.isopen" auto-close="outsideClick">

							<a uib-dropdown-toggle ng-disabled="disabled"><i class="fa fa-envelope-o"></i><span class="badge">{{Emails.Unread}}</span></a>
							<ul class="dropdown-menu" style="max-height:400px;width:400px;overflow-y: scroll;overflow-x: hidden;margin-right:-100px">
								<li class="dropdown-menu-header">
									<strong>{{Emails.AllEmails.Total}}</strong>
								</li>
								<li class="avatar" ng-repeat="email in Emails.AllEmails" style="width:400px;border-bottom:5px;border-color:black;overflow-x: hidden;">
									<a style="width:400px">
										<div ng-click="showPopup(email,'myModalContent.html');" style="width:400px;">
											<img class="avatar" src="">
											<div style="width:250px;overflow:hidden">{{email.subject}}</div>
											<small>{{email.date}}</small>
										</div>

										<span class="label label-info" style="background:none;"><i class="fa fa-navicon" style ="color:black;z-index:9" ng-click="email.Expand =1"></i></span>

										<div class="emailMenu" ng-show="email.Expand==1" style="top:0px;display:block;position:absolute;right:0px;height:100%;width:150px;background-color:blue;z-index:10">
											<div style="float:left;background-color:green;position:relative;height:100%;width:40%;color:white;line-height:100%;text-align:center;vertical-align:middle"><i style="color:white" class="fa fa-mail-reply"></i></div>
											<div style="float:left;background-color:red;position:relative;height:100%;width:40%;line-height:100%;text-align:center;vertical-align:middle"><i style="color:white;vertical-align:middle;font-weight:bolder" class="fa fa-trash-o"></i></div>
											<div ng-click="email.Expand =2" style="float:left;background-color:grey;position:relative;height:100%;width:20%;line-height:100%;text-align:center;vertical-align:middle"><i style="color:white" class="fa fa-remove"></i></div>
										</div>
									</a>

								</li>

								<li class="dropdown-menu-footer text-center">
									<a href="page-inbox.html">{{isPopupVisible}}</a>
								</li>
							</ul>
							<script type="text/ng-template" id="myModalContent.html">
								<div class="modal-header">
									<button type="button" class="close" aria-hidden="true" ng-click="closePopup()">&times;</button>
									<h3>{{Currentemail.subject}}</h3>
								</div>
								<div class="modal-body">
									<strong>From:</strong> {{Currentemail.from}}
									<br />
									<strong>Date:</strong> {{Currentemail.date}}
									<br />
									<br />
									<iframe src='{{ "/Test/GetSpecificEmail.php?id="+Currentemail.uid}}' width="100%" height="300" style="border:none"></iframe>

								</div>
								<div class="modal-footer">
									<a class="btn btn-primary" ng-click="closePopup()">Close</a>
								</div>
							</script>

						</li>
					<li class="dropdown visible-md visible-lg" uib-dropdown is-open="notification.isopen" auto-close="outsideClick">
						<a uib-dropdown-toggle><i class="fa fa-bell-o"></i><span class="badge shake">{{UserData.TextMessages.length}}</span></a>
						<ul class="dropdown-menu" style="width:300px;overflow-x: hidden;">
							<li class="dropdown-menu-header">
								<strong>Notifications</strong>

							</li>
							<div class="scroll4" style="max-height:500px;overflow-y: auto">
								<li class="clearfix" ng-click="$event.stopPropagation();" ng-style="notifications.flagedrecruits.show && {'background-color':'rgba(215,228,236,.9)'}">
									<a style="width:50px;display:inline-block;margin-right:5px;background:none!important;"><i style="background:none!important;" class="fa fa-users"></i><span style="background-color:grey;border-radius:100%;font-size:10px" class="badge">{{Assigned.length}}</span></a>
									<span ng-click="notifications.flagedrecruits.show=!notifications.flagedrecruits.show" style="display:inline-block" class="notification-action">  New Recruits Have Been Flagged for You </span>
								</li>
								<li ng-click="notifications.flagedrecruits.show=!notifications.flagedrecruits.show;$event.stopPropagation();" ui-sref="RecruitingLiscence({user:notification.RecruitID,UserInfoID:notification.UserID})" class="subMenu" ng-show="notifications.flagedrecruits.show"
									ng-repeat="notification in Assigned" style="padding-left:60px">
									<a href="page-activity.html" class="notification-user"> {{notification.RecruitName}} </a>
									<span class="notification-action"> {{notification.Reason}} </span>
								</li>
								<li class="clearfix" ng-show="UnreadTextMessages.length>0" ng-click="notifications.UnreadTextMessages.show=!notifications.UnreadTextMessages.show;$event.stopPropagation();" ng-style="notifications.UnreadTextMessages.show && {'background-color':'rgba(215,228,236,.9)'}">
									<a style="width:50px;display:inline-block;margin-right:5px;background:none!important;"><i style="background:none!important;;" class="fa fa-comments"></i><span style="background-color:grey;border-radius:100%;font-size:10px" class="badge">{{UnreadTextMessages.length}}</span></a>
									<span class="notification-action">New Messages</span>
								</li>
								<li class="avatar repeated-item" ng-click="notifications.UnreadTextMessages.show=!notifications.UnreadTextMessages.show;$event.stopPropagation();" ng-show="notifications.UnreadTextMessages.show" ng-repeat="text in UnreadTextMessages" style="padding-left:40px">
									<a><i class="fa fa-check" ng-click="markText(text);$event.stopPropagation()" style="position:absolute;color:green;right:5px"></i>
										<img class="avatar" src="">
										<div>{{text.RecruitName}}</div>
										<small>{{text.message}}</small>
									</a>
								</li>
								<li class="clearfix" ng-click="badges={total:{'show':true}}">
									<i class="fa fa-trash-o"></i>
									<a class="notification-user"> Lorenzo </a>
									<span class="notification-action"> just remove <a  class="notification-link"> 12 files</a></span>
								</li>
								<li class="dropdown-menu-footer text-center">
									<a href="page-activity.html">View all notification</a>
								</li>
							</div>
						</ul>
					</li>
						<li class="dropdown visible-md visible-lg" uib-dropdown is-open="setting.isopen" auto-close="outsideClick">
							<a uib-dropdown-toggle ng-disabled="disabled"><i class="fa fa-gears"></i></a>
							<ul class="dropdown-menu update-menu" role="menu">
								<li><a href="#"><i class="fa fa-database"></i> Database </a>
								</li>
								<li><a href="#"><i class="fa fa-bar-chart-o"></i> Connection </a>
								</li>
								<li><a href="#"><i class="fa fa-bell"></i> Notification </a>
								</li>
								<li><a href="#"><i class="fa fa-envelope"></i> Message </a>
								</li>
								<li><a href="#"><i class="fa fa-flash"></i> Traffic </a>
								</li>
								<li><a href="#"><i class="fa fa-credit-card"></i> Invoices </a>
								</li>
								<li><a href="#"><i class="fa fa-dollar"></i> Finances </a>
								</li>
								<li><a href="#"><i class="fa fa-thumbs-o-up"></i> Orders </a>
								</li>
								<li><a href="#"><i class="fa fa-folder"></i> Directories </a>
								</li>
								<li><a href="#"><i class="fa fa-users"></i> Users </a>
								</li>
							</ul>
						</li>
						<li class="dropdown visible-md visible-lg" uib-dropdown is-open="usersetting.isopen" auto-close="outsideClick">
							<a uib-dropdown-toggle ng-disabled="disabled"><img class="user-avatar" style="border-radius:20px;" ng-src="{{'https://jfsapp.com/Images/ProfilePhotos/' +currentUser.Info.display_photo}}" alt="user-mail">Cody</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-header">
									<strong>Account</strong>
								</li>
								<li><a href="#UserSettings"><i class="fa fa-user"></i> Profile</a></li>
								<li><a href="../../../Users/account.php"><i class="fa fa-wrench"></i> Settings</a></li>
								<li><a href="page-invoice.html"><i class="fa fa-usd"></i> Payments <span class="label label-default">10</span></a></li>
								<li><a href="gallery.html"><i class="fa fa-file"></i> File <span class="label label-primary">27</span></a></li>
								<li class="divider"></li>
								<li><a ng-click="User.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
							</ul>
						</li>
						<li><a ng-click="User.logout()"><i class="fa fa-power-off"></i></a></li>
					</ul>

				</div>

			</div>


			<!--End Navigation Bar-->

			<!--Start Side Bar-->
			<div ng-show="Visibility.sidebar">

				<div class="sidebar shadow-5" style="z-index:30" style="heigth:100%">

					<div class="sidebar-collapse" style="overflow-y:auto;height:100%;overflow-x:hidden">
						<div class="sidebar-header t-center">
							<span><img class="text-logo" style="width:80%;diplay:block;margin-top:10px;position:relative" src="https://jfsapp.com/Images/Logos/logosimp3.png"></span>
						</div>
						<div class="sidebar-menu" style="margin-top:30px">
							<ul class="nav nav-sidebar">
								<li><a href="#Home"><i class="fa fa-laptop"></i><span class="text"> Dashboard</span></a></li>
								<li><a href="" ng-model="collapsed1" ng-click="collapsed1=!collapsed1"><i class="fa fa-user"></i><span class="text">Cody Johnson</span><span class="fa fa-angle-down pull-right"></span></a></li>
								<ul class="subMenu" ng-show="collapsed1">
									<li><a ui-sref="app.Messages"><i class="fa fa-envelope"></i><span class="text">Message Center</span></a></li>
									<li><a ui-sref="Tasks"><i class="fa fa-tasks" aria-hidden="true"></i><span class="text">Tasks</span></a></li>
									<li><a ui-sref="Notes"><i class="fa fa-pencil" aria-hidden="true"></i><span class="text">Notes</span></a></li>
									<li><a href="../../../Users/account.php"><i class="fa fa-gear"></i><span class="text"> Settings</span></a></li>
									<li><a href="#Test"><i class="fa fa-book"></i><span class="text"> Contact Info</span></a></li>
									<li><a href="ui-elements.html"><i class="fa fa-bar-chart-o"></i><span class="text"> Update Numbers</span></a></li>
								</ul>
								<li><a href=""><i class="fa fa-bar-chart-o"></i><span class="text"> Reports</span></a></li>
								<li><a href="" ng-model="collapsed2" ng-click="collapsed2=!collapsed2"><i class="fa  fa-pencil-square-o"></i><span class="text"> Training</span> <span class="fa fa-angle-down pull-right"></span></a></li>
								<ul class="subMenu" ng-show="collapsed2">
									<li><a href="ui-sliders-progress.html"><i class="fa fa-envelope"></i><span class="text"> Videos</span></a></li>
									<li><a href="ui-nestable-list.html"><i class="fa fa-picture-o"></i><span class="text"> Documents</span></a></li>
									<li><a href="ui-nestable-list.html"><i class="fa fa-film"></i><span class="text"> Meeting Notes</span></a></li>
								</ul>
								<li><a href="" ng-model="collapsed3" ng-click="collapsed3=!collapsed3"><i class="fa fa-briefcase"></i><span class="text"> Rescources</span> <span class="fa fa-angle-down pull-right"></span></a></li>
								<ul class="subMenu" ng-show="collapsed3">
									<li><a ui-sref="Resources.Style"><i class="fa fa-paint-brush"></i><span class="text">Style Guide</span></a></li>
									<li><a href="#SendEmail"><i class="fa fa-envelope"></i><span class="text"> Emails</span></a></li>
									<li><a href="#LostPassword"><i class="fa fa-picture-o"></i><span class="text"> Graphics</span></a></li>
									<li><a href="ui-nestable-list.html"><i class="fa fa-film"></i><span class="text"> Videos</span></a></li>
									<li><a href="ui-elements.html"><i class="fa fa-list"></i><span class="text"> Presentations</span></a></li>
									<li><a href="ui-elements.html"><i class="fa fa-file-text"></i><span class="text"> Marketing</span></a></li>
								</ul>
								<li><a href="/owncloud"><i class="fa fa-cloud"></i><span class="text">Drive</span></a></li>
								<li><a href="" ng-model="collapsed4" ng-click="collapsed4=!collapsed4"><i class="fa fa-group"></i><span class="text"> Manage Agents</span> <span class="fa fa-angle-down pull-right"></span></a></li>
								<ul class="subMenu" ng-show="collapsed4">
									<li><a ui-sref="app.Agents.Dashboard"><i class="fa fa-align-left"></i><span class="text"> Agent List</span></a></li>
									<li><a href="ui-nestable-list.html"><i class="fa fa-outdent"></i><span class="text"> Add Agent</span></a></li>
									<li><a href="ui-elements.html"><i class="fa fa-list"></i><span class="text"> Reports</span></a></li>
								</ul>
								<li><a href="" ng-model="collapsed5" ng-click="collapsed5=!collapsed5"><i class="fa fa-sitemap"></i><span class="text"> Recruiting</span><span class="fa fa-angle-down pull-right"></span></a></li>
								<ul class="subMenu" ng-show="collapsed5">
									<li><a href="#ToDoList"><i class="fa fa-align-left"></i><span class="text"> To Do List</span></a></li>
									<li><a href="#MyRecruits"><i class="fa fa-child"></i><span class="text"> Assigned To Me</span></a></li>
									<li><a href="#RecruitingList"><i style="color:#8DCC62" class="fa fa-users"></i><span class="text"> Recruits</span></a></li>
									<li><a href="#ProspectList"><i style="color:#FAC559" class="fa fa-users"></i><span class="text"> Prospects</span></a></li>
									<li><a ui-sref="app.Recruiting.Dashboard"><i style="color:#FAC559" class="fa fa-users"></i><span class="text"> Recruiting Pool</span><span ng-model="collapsed6" ng-click="collapsed6=!collapsed6;$event.stopPropagation()" class="fa fa-angle-down pull-right"></span></a></li>
									<ul class="subMenu" ng-show="collapsed6">
										<li><a ui-sref="LiscencedAgents({ search: {Source:'Referal'} })"><i style="font-size:15px" class="fa fa-user"></i><span class="text"> Referal</span></a></li>
										<li><a ui-sref="LiscencedAgents({ search: {Source:'PO'} })"><i style="" class="fa fa-user"></i><span class="text"> PO</span></a></li>
										<li><a ui-sref="LiscencedAgents({ search: {Source:'COI'} })"><i style="" class="fa fa-user"></i><span class="text"> COI</span></a></li>
										<li><a ui-sref="LiscencedAgents({ search: {Source:'ARS'} })"><i style="" class="fa fa-user"></i><span class="text"> ARS</span></a></li>
										<li><a ui-sref="LiscencedAgents({ search: {Source:'ROD'} })"><i style="" class="fa fa-user"></i><span class="text"> ROD</span></a></li>
										<li><a ui-sref="LiscencedAgents({ search: {Source:'Other'} })"><i style="" class="fa fa-user"></i><span class="text"> Other</span></a></li>
									</ul>
								</ul>


							</ul>
						</div>
					</div>
				</div>
			</div>
