<!--Start Navigation Bar-->
<div class="hidden-print">
	<div class="navbar shadow-3" style="position:absolute" role="navigation">

		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-actions navbar-left" ng-click="Visibility.sidebar=!Visibility.sidebar"
				style="left:0px; display:block;position:relative"
				ng-style="Visibility.sidebar && {'left':'-160px'}||{'left':'-240px'}">
				<li class="visible-md visible-lg"><a id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
				<li class="visible-xs visible-sm"><a id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-actions navbar-left">

			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown visible-md visible-lg" uib-dropdown is-open="messages.isopen"
					auto-close="outsideClick">
					<a uib-dropdown-toggle><i class="fa fa-comments"></i><span
							ng-hide="(UserData.TextMessages|filter:{'status':'0','type':0}).length<=0"
							class="badge shake">{{(UserData.TextMessages|filter:{'status':'0','type':0}).length}}</span></a>
					<ul class="dropdown-menu messages" style="width:300px;overflow-x: hidden;">
						<li class="dropdown-menu-header">
							<strong>Messages</strong>
						</li>
						<div class="scrollbar" style="max-height:500px;overflow-x: hidden">
							<li style="display:block;position:relative" class="avatar"
								ng-click="ViewMessage(value[0].id_number)"
								ng-repeat="(key, value) in UserData.TextMessages|filter:{'type':'0','status':'0'}|orderBy:['status','-date_recieved']| groupBy:'[id_number]'">

								<a style="margin-top:0;top:0;display:inline-block;position:relative"
									ng-repeat="text in value|orderBy:'-date_recieved'|limitTo:1">
									<img style="height:50px;width:50px;border-radius:100%;display:inline-block;top:5px;position:absolute"
										ng-src="https://jfsapp.com/Images/Recruits/{{text.ProfilePic || 'blank.jpg'}}">
									<span class="badge shake">{{(value|filter:{'status':'0'}).length}}</span>
									<div
										style="display:inline-block:height:100%;width:300px;position:absolute;padding-left:60px">
										<div style="color:black">{{text.RecruitName||text.id_number|phone}}</div>
										<small>{{text.message|truncate:80}}...</small>
									</div>
								</a>
							</li>
						</div>
						<div>
							<li ui-sref="app.Messages" class="dropdown-menu-footer text-center clickable">
								<strong>View all messages</strong>
							</li>
						</div>
					</ul>
				</li>

				<li class="dropdown visible-md visible-lg" uib-dropdown is-open="notification.isopen"
					auto-close="outsideClick">
					<a uib-dropdown-toggle><i class="fa fa-bell"></i><span
							ng-hide="(Task.currentUsersTasks|filter:{'Status':'new'}).length<=0"
							class="badge shake">{{(Task.currentUsersTasks|filter:{'Status':'new'}).length}}</span></a>
					<ul class="dropdown-menu notifications" style="width:300px;">
						<div class="NoNotifications" id="NoNotification"
							ng-show="(Task.currentUsersTasks|filter:{'Status':'new'}).length<=0">
							<i class="fa fa-bell"></i>
							<strong>Congratulations!</strong>
							<div class="SubTitle">No New Notifactions</div>
						</div>
						<div id="NotificationList" ng-hide="(Task.currentUsersTasks|filter:{'Status':'new'}).length<=0">
							<li ng-hide="(Task.currentUsersTasks|filter:{'Status':'new'}).length<=0"
								class="dropdown-menu-header">
								<strong>New Tasks</strong> <span
									class="badge">{{(Task.currentUsersTasks|filter:{'Status':'new'}).length}}</span>
							</li>
							<div class="scrollbar notification_list" style="max-height:500px;overflow-x: hidden">
								<div
									ng-repeat="Task in Task.currentUsersTasks|filter:{'Status':'new'}|orderBy:['Status']">
									<li style="display:block;position:relative" class="new_task_not"
										context-menu="TaskOptions" ng-click="ViewTask(Task.Task_ID)">
										<div class="task_icon">
											<i class="fa fa-check"></i>
										</div>
										<span class="first">New Task: </span>{{Task.Title|truncate:36}}
										<span class="recruit_id"><img class="task_image_small"
												ng-src="https://jfsapp.com/Images/Recruits/{{Task.ProfilePic||'blank.jpg'}}" />
											{{Task.RecruitName}}</span>
									</li>
								</div>
								<div>
									<li style="display:block;position:relative" class="date_not">
										<div class="date_icon">
											<span class="month">May</span>
											16
										</div>
										<span class="first">New Task: </span>{{Task.Title|truncate:36}}
										<span class="recruit_id"><img class="task_image_small"
												ng-src="https://jfsapp.com/Images/Recruits/{{Task.ProfilePic||'blank.jpg'}}" />
											{{Task.RecruitName}}</span>
									</li>
								</div>
								<!--
							<div ng-repeat="(key, value) in Task.currentUsersTasks|filter:{'Status':'new'}|orderBy:['Status']| groupBy:'[Recruit_ID]'">
								<li style="display:block;position:relative" class="avatar" ng-click="showDetails = ! showDetails;$event.stopPropagation()">

									<a style="margin-top:0;top:0;display:inline-block;position:relative">
										<span class="badge shake">{{(value|filter:{'Status':'New'}).length}}</span>
										<div style="display:inline-block:height:100%;width:300px;position:absolute;padding-left:15px">
											<div style="color:black"> New Tasks Regarding:</div>
											<small>{{value[0].RecruitName||'General'}}</small>
										</div>
									</a>
								</li>
								<li context-menu="TaskOptions" ng-click="ViewTask(task.Task_ID)" class="clickable" style="padding:0;height:50px;line-height:50px;background-color:#eee" ng-show="showDetails" ng-repeat="task in value|orderBy:'-CreatedDate'">
									<div style="overflow:hidden;height:50px;width:20px;margin:0;display:inline-block;position:absolute;border-bottom: 1px solid #E0E0E0" ng-style="task.Priority=='Low' &&{'background-color':'#EBEBEB'}||task.Priority=='Medium' &&{'background-color':'#FFE372'}||task.Priority=='High' &&{'background-color':'#FF7C72'}">
									</div>
									<div style="display:inline-block;margin-left:25px">
									<small style="color:black!important;font-weight:bolder">{{task.Title|truncate:36}}</small>
									<span ng-hide="task.Due_Date==null" style="background-color:#FF7C72;padding:2px;border-radius:2px;font-weight:normal;font-size:8pt;color:white;margin-left:5px;margin-right:5px">deadline</span><time class="time" am-time-ago="task.Due_Date"></time>
									</div>
								</li>
							</div>-->
								<li ng-show="false" class="dropdown-menu-header">
									<strong>New Notifications</strong>
								</li>
							</div>
							<div>
								<li class="dropdown-menu-footer text-center">
									<strong>View all notification</strong>
								</li>
							</div>
						</div>
					</ul>
				</li>
				<li class="dropdown visible-md visible-lg" uib-dropdown is-open="setting.isopen"
					auto-close="outsideClick">
					<a uib-dropdown-toggle ng-disabled="disabled"><i class="fa fa-search"></i></a>
					<ul class="dropdown-menu search_menu" role="menu">
						<li ng-click="$event.stopPropagation()" class="header">
							<i class="fa fa-search"></i>
							<input ng-model="Global_Search" placeholder="Search recruit, task, or anything" />
						</li>

						<li ng-click="viewRecruit(recruit.INDV_ID)" ng-show="Global_Search.length>0"
							class="result recruit" ng-repeat="recruit in Recruits.List|filter:Global_Search"><i
								class="fa fa-user"></i>
							{{recruit.FNAME}} {{recruit.LNAME}}
						</li>
						<li ng-click="ViewTask(task.Task_ID)" ng-show="Global_Search.length>0" class="result task"
							ng-repeat="task in Task.currentUsersTasks|filter:Global_Search"><i
								class="fa fa-check-square-o"></i>
							<div class="body">
								{{task.Title}} <br />
								<span>{{task.RecruitName}}</span>
							</div>
						</li>
					</ul>
				</li>
				<li class="dropdown visible-md visible-lg" uib-dropdown is-open="usersetting.isopen"
					auto-close="outsideClick">
					<a uib-dropdown-toggle ng-disabled="disabled"><img ng-click="changeProfile()" class="user-avatar"
							style="border-radius:20px;max-height:60px"
							ng-src="{{'https://jfsapp.com/Images/ProfilePhotos/' +currentUser.Info.display_photo}}"
							alt="user-mail">{{currentUser.Info.display_name}}</a>
					<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>Account</strong>
						</li>
						<li><a href="#UserSettings"><i class="fa fa-user"></i> Profile</a></li>
						<li><a href="../../../Users/account.php"><i class="fa fa-wrench"></i> Settings</a></li>
						<li><a href="page-invoice.html"><i class="fa fa-usd"></i> Payments <span
									class="label label-default">10</span></a></li>
						<li><a href="gallery.html"><i class="fa fa-file"></i> File <span
									class="label label-primary">27</span></a></li>
						<li class="divider"></li>
						<li><a ng-click="User.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
					</ul>
				</li>
				<li><a ng-click="User.logout()"><i class="fa fa-power-off"></i></a></li>
			</ul>

		</div>

	</div>


	<!--End Navigation Bar-->

	<!--Start Side Bar-->
	<div ng-show="Visibility.sidebar">

		<div class="sidebar shadow-5 scrollbar" style="z-index:30;heigth:100%">

			<div class="sidebar-collapse scrollbar" style="padding-bottom:30px;height:100%;overflow-x:hidden">
				<div class="sidebar-header t-center">
					<span><img class="text-logo" 
							src="https://jfsapp.com/Images/Logos/JFS/Logo_Main_Simp_Shadow@3x.png"></span>
				</div>
				<div class="sidebar-menu" style="margin-top:30px">
					<ul class="nav nav-sidebar">
						<li><a href="#Home"><i class="main-icon fa fa-laptop"></i><span class="text"> Dashboard</span></a></li>
						<li><a href="" ng-model="collapsed1" ng-click="collapsed1=!collapsed1"><i
									class="main-icon fa fa-user"></i><span
									class="text">{{currentUser.Info.display_name}}</span><span
									class="fa fa-angle-down pull-right"></span></a></li>
						<ul class="subMenu" ng-show="collapsed1">
							<li><a ui-sref="app.Messages"><i class="main-icon fa fa-envelope"></i><span class="text">Message
										Center</span></a></li>
							<li><a ui-sref="app.Tasks"><i class="fa fa-tasks" aria-hidden="true"></i><span
										class="text">Tasks</span></a></li>
							<li><a ui-sref="Notes"><i class="fa fa-pencil" aria-hidden="true"></i><span
										class="text">Notes</span></a></li>
							<li><a ui-sref="app.User.Settings"><i class="fa fa-gear"></i><span class="text">
										Settings</span></a></li>
						</ul>
						<li><a href="" ng-model="collapsed3" ng-click="collapsed3=!collapsed3"><i
									class="main-icon fa fa-briefcase"></i><span class="text"> Rescources</span> <span
									class="fa fa-angle-down pull-right"></span></a></li>
						<ul class="subMenu" ng-show="collapsed3">
							<li><a ui-sref="app.Style.Guide"><i class="fa fa-paint-brush"></i><span class="text">Style
										Guide</span></a></li>
							<li><a href="#SendEmail"><i class="fa fa-envelope"></i><span class="text"> Emails</span></a>
							</li>
							<li><a href="#LostPassword"><i class="fa fa-picture-o"></i><span class="text">
										Graphics</span></a></li>
							<li><a href="ui-nestable-list.html"><i class="fa fa-film"></i><span class="text">
										Videos</span></a></li>
							<li><a href="ui-elements.html"><i class="fa fa-list"></i><span class="text">
										Presentations</span></a></li>
							<li><a ng-click="showLoading=!showLoading;"><i class="fa fa-file-text"></i><span
										class="text"> Marketing</span></a></li>
						</ul>
						<li><a ng-model="collapsed31" ng-click="collapsed31=!collapsed31"><i
									class="main-icon fa fa-envelope"></i><span ui-sref="app.Email.Dashboard"
									class="text clickable"> Email</span> <span
									class="fa fa-angle-down pull-right"></span></a></li>
						<ul class="subMenu" ng-show="collapsed31">
							<li><a ui-sref="app.Email.Campaigns"><i class="fa fa-archive"></i><span class="text">
										Campaigns</span></a></li>
							<li><a ui-sref="app.Email.Lists"><i class="fa fa-list-alt"></i><span class="text"> Mailing
										Lists</span></a></li>
							<li><a ui-sref="app.Email.People"><i class="fa fa-users"></i><span class="text">
										People</span></a></li>
						</ul>
						<li><a ui-sref="app.Agents.Landing" ng-model="collapsed4" ng-click="collapsed4=!collapsed4"><i
									class="main-icon fa fa-group"></i><span class="text"> Manage Agents</span> <span
									class="fa fa-angle-down pull-right"></span></a></li>
						<ul class="subMenu" ng-show="collapsed4">
							<li><a ui-sref="app.Agents.Dashboard"><i class="fa fa-align-left"></i><span class="text">
										Agent List</span></a></li>
							<li><a href="ui-nestable-list.html"><i class="fa fa-outdent"></i><span class="text"> Add
										Agent</span></a></li>
							<li><a href="ui-elements.html"><i class="fa fa-list"></i><span class="text">
										Reports</span></a></li>
						</ul>
						<li><a href="" ng-model="collapsed5" ng-click="collapsed5=!collapsed5"><i
									class="main-icon fa fa-sitemap"></i><span class="text"> Recruiting</span><span
									class="fa fa-angle-down pull-right"></span></a></li>
						<ul class="subMenu" ng-show="collapsed5">
							<li><a ui-sref="app.Recruiting.Assigned"><i class="fa fa-child"></i><span class="text">
										Assigned To Me</span></a></li>
							<li><a ui-sref="app.Reporting.Dashboard"><i class="fa fa-bar-chart"></i><span class="text">
										Reports</span></a></li>
							<li><a ui-sref="app.Recruiting.Dashboard"><i style="color:#FAC559"
										class="fa fa-users"></i><span class="text"> Recruiting Pool</span></a></li>

							<li><a ui-sref="app.Recruiting.Archived"><i class="fa fa-archive"></i><span class="text">
										Archived</span>
									<!--<span ng-model="collapsed7"  class="fa fa-angle-down pull-right"></span>--></a>
							</li>
							<!--<ul class="subMenu" ng-show="collapsed7">
                  <li><a ui-sref="app.Recruiting.Archived({ search: {RecruitStatus_ID:'2'} })"><i style="font-size:15px" class="fa fa-user"></i><span class="text"> Mailing List</span></a></li>
                  <li><a ui-sref="app.Recruiting.Archived({ search: {RecruitStatus_ID:'4'} })"><i style="" class="fa fa-user"></i><span class="text"> Not Interested</span></a></li>
                  <li><a ui-sref="app.Recruiting.Archived({ search: {RecruitStatus_ID:'5'} })"><i style="" class="fa fa-user"></i><span class="text"> No Response</span></a></li>
									<li><a ui-sref="app.Recruiting.Archived({ search: {RecruitStatus_ID:'7'} })"><i style="" class="fa fa-user"></i><span class="text"> Unsorted</span></a></li>
								</ul>-->
						</ul>


					</ul>
				</div>
			</div>
		</div>
	</div>