<div class="AgentPortal view">
  <div class="agent-info">
    <div
      class="agent-type"
      ng-class="agentStatus(Agents.CurrentAgent.Info.Hire_Date)"
    >
      <span>{{ agentStatus(Agents.CurrentAgent.Info.Hire_Date) }}</span>
    </div>
    <div class="agent-options-expand">
      <i class="fa fa-expand"></i>
    </div>
    <div class="agent-options">
      <i class="fa fa-ellipsis-h"></i>
    </div>
    <div class="img-box">
      <div class="img-profile" ng-click="changepic()">
        <img
          ng-src="https://jfsapp.com/Open/API/Images/Agents/Profile/{{
            Agents.CurrentAgent.Info.profilepic || 'blank.jpg'
          }}?access_token={{
            currentUser.Token.access_token
          }}&client_id=testclient&client_secret=testpass"
        />
      </div>
    </div>
    <div class="agent-name">
      <span>{{ Agents.CurrentAgent.Info.FirstName }}</span>
      <span>{{ Agents.CurrentAgent.Info.LastName }}</span>
    </div>
    <div class="agent-contact">
      <div class="action">
        <i class="fa fa-envelope-o"></i>
      </div>
      <div class="action">
        <i class="fa fa-phone"></i>
      </div>
      <div class="action">
        <i class="fa fa-comment-o"></i>
      </div>
    </div>
    <div class="metrics">
      <div class="metric">
        {{
          Agents.CurrentAgent.SalesNumbers.Life_Paid_Premium_Ytd | moneyFmt: 0
        }}
        <span>Life</span>
      </div>
      <div class="v-divider"></div>
      <div class="metric">
        {{ Agents.CurrentAgent.SalesNumbers.PC_Premium_Ytd | moneyFmt: 0 }}
        <span>P&C</span>
      </div>
      <div class="v-divider"></div>
      <div class="metric">
        {{([Agents.CurrentAgent.SalesNumbers.Persistency_15month || 0,Agents.CurrentAgent.SalesNumbers.Persistency_3yr||0,]| max) * 100 + '%' }}
        <span>Persistency</span>
      </div>
    </div>
    <div class="weekly">
      <div class="title">
        Last Week
      </div>
      <div class="week-total" ng-class="WeeklyPerformance(Agents.CurrentAgent.SalesInfo.History[0].Life_Paid_Premium_Ytd,Agents.CurrentAgent.SalesInfo.History[1].Life_Paid_Premium_Ytd,AverageWeekly(Agents.CurrentAgent.SalesNumbers.Life_Paid_Premium_Ytd))">
        <div class="change">
          <i class="fa fa-arrow-up" ng-show="WeeklyPerformance(Agents.CurrentAgent.SalesInfo.History[0].Life_Paid_Premium_Ytd,Agents.CurrentAgent.SalesInfo.History[1].Life_Paid_Premium_Ytd,AverageWeekly(Agents.CurrentAgent.SalesNumbers.Life_Paid_Premium_Ytd)) == 'up'"></i>
          <i class="fa fa-arrow-down" ng-show="WeeklyPerformance(Agents.CurrentAgent.SalesInfo.History[0].Life_Paid_Premium_Ytd,Agents.CurrentAgent.SalesInfo.History[1].Life_Paid_Premium_Ytd,AverageWeekly(Agents.CurrentAgent.SalesNumbers.Life_Paid_Premium_Ytd)) == 'down'"></i>
        
        </div>
        <div class="name">
          Life Paid
        </div>
        <div class="value">
            $ {{
              Agents.CurrentAgent.SalesInfo.History[0].Life_Paid_Premium_Ytd -  Agents.CurrentAgent.SalesInfo.History[1].Life_Paid_Premium_Ytd| number: 0
            }}
           
        </div>
      </div>
      <div class="h-line"></div>
      <div class="week-total" ng-class="WeeklyPerformance(Agents.CurrentAgent.SalesInfo.History[0].PC_Premium_Ytd,Agents.CurrentAgent.SalesInfo.History[1].PC_Premium_Ytd,AverageWeekly(Agents.CurrentAgent.SalesNumbers.PC_Premium_Ytd))">
          <div class="change">
            <i class="fa fa-arrow-up" ng-show="WeeklyPerformance(Agents.CurrentAgent.SalesInfo.History[0].PC_Premium_Ytd,Agents.CurrentAgent.SalesInfo.History[1].PC_Premium_Ytd,AverageWeekly(Agents.CurrentAgent.SalesNumbers.PC_Premium_Ytd)) == 'up'"></i>
          </div>
          <div class="name">
            P&C Paid
          </div>
          <div class="value">
              $ {{
                Agents.CurrentAgent.SalesInfo.History[0].PC_Premium_Ytd -  Agents.CurrentAgent.SalesInfo.History[1].PC_Premium_Ytd | number: 0 }}
          </div>
        </div>
     
    </div>
  </div>
  <div class="agent-content">
    <div class="tabs">
      <div ui-sref=".Overview" class="tab" ui-sref-active="active">
        Overview
      </div>
      <div ui-sref=".History" class="tab" ui-sref-active="active">
        History
      </div>
      <div class="tab" ui-sref-active="active">
        Daily Numbers
      </div>
    </div>
    <ui-view></ui-view>
  </div>
</div>
