<div class="file-manager">
  <div class="header">
    <div class="inner-header">
      <span><i class="material-icons md-36">folder</i></span><span>Files</span>
      <button type="button" class="close" aria-hidden="true" ng-click="User.visibility.recruitSidebar=false" style="font-size:30pt;vertical-align:middle">&times;</button>
    </div>
  </div>

  <div class="body">
    <button type="button" class="btn btn-default" ng-click="uploadFile()" style="display:inline:block;position:relative;z-index:20;margin-bottom:10px"><i class="fa fa-file-text"></i><i class="fa fa-plus"></i></button>


    <table ng-init="totalSpace = {}" class="table table-striped">
      <tr>
        <th></th>
        <th>
          Name
        </th>
        <th>
          Uploaded
        </th>
        <th>
          Size
        </th>
        <th>
          Extension
        </th>
        <th></th>
      </tr>
      <tr ng-repeat="document in Recruit.currentRecruit.Info.Documents">
        <td align="right" valign="middle" style="vertical-align:middle"><div class="file" ng-class="fileIcon(document.fileType)"></div></td>
        <td e-style="top:10px;display:inline-block;position:relative" e-form="textBtnForm" ng-dblclick="textBtnForm.$show()" editable-text="document.title" style="color:black;vertical-align:middle">{{document.title}} </td>
        <td>{{document.fileUploaded | momentdate : 'MMM D Y' }}<br />{{document.fileUploaded | momentdate :  'h:mm a'}}</td>
        <td ng-init="totalSpace.size = totalSpace.size + file.fileSize">{{document.fileSize| byteFmt:0}}</td>
        <td>{{document.fileType}}</td>
        <td valign="middle">
          <div class="actions" ng-click="$event.stopPropagation();" uib-dropdown is-open="document.isopen">
            <i class="fa fa-ellipsis-h" uib-dropdown-toggle></i>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-click="previewFile(document)"><a>Preview</a></li>
              <li role="menuitem" ng-click="getFile(document)"><a href="#">Download</a></li>
              <li class="divider"></li>
              <li role="menuitem" ng-click="deleteFile(document)"><a href="#">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td style="text-align:right">Total Space</td>
        <td>{{totalSpace.size| byteFmt:0}}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
