<div class="view notes">
  <div class="header">
    Cody
  </div>
  <div class="body">
    <div ng-repeat="note in Recruit.currentRecruit.Info.Notes track by $index" class="panel panel-primary" style="z-index:30px; border-radius:10px; min-width:200px;width:100%; margin-top:5px; margin-bottom:0;border-color:black">
      <div class="panel-body">
        {{note.text}}
      </div>
      <div class="panel-footer panel-default" style="border-radius: 0 0 10px 10px; background-color:#F5F5F5;margin-top:-5px;height:37px">
        <span style="float:left">{{note.datetime| date : 'MMM d yyyy @ h:mm a'}}</span><span style="float:right;margin-left:5px">{{note.userName}}</span>
        <div style="float:right;display:block;height:100%"><img style="height:30px; border-radius:30px;top:-7px;position:relative;display:block" src="https://jfsapp.com/Images/ProfilePhotos/{{note.userPhoto}}"></div>
      </div>
    </div>
  </div>
</div>
