<div class="view progress">
  <div class="header" ng-init="progress_tab='Overview'">
    <button type="button" class="close" aria-hidden="true" ng-click="User.visibility.recruitSidebar=false" style="font-size:30pt;vertical-align:middle;position:absolute; right:10px;z-index:99">&times;</button>

    <div class="inner_header">

    <div class="row">
      <div class="col-md-4">
        <span><i class="material-icons md-36">assessment</i></span>
        <span>Progress</span>
      </div>
      <div class="col-md-8">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{'active':progress_tab=='Overview'}"><a ng-click="progress_tab='Overview'">Overview</a></li>
          <li role="presentation" ng-class="{'active':progress_tab=='Steps'}"><a ng-click="progress_tab='Steps'">Steps</a></li>
          <li role="presentation" ng-class="{'active':progress_tab=='CompletedSteps'}"><a ng-click="progress_tab='CompletedSteps'">Completed Steps</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="body">
    <div ng-show="progress_tab=='Steps'" sv-root class="multi-sortable" sv-on-sort='updateToDo()' style="height:100%;width:100%">
      <div class="todo_list" sv-part="Recruit.currentRecruit.Info.Task">
        <div style="height:100%;width:100%">
          <div ng-repeat="item in Recruit.currentRecruit.Info.Task" sv-element class="multi" style="padding:0px;margin-bottom:0px;border-radius:10px;padding-left:5px;padding-right:5px;position:relative">
            <span ng-show="item.completed==false" sv-handle style="position:absolute;margin-left:5px" class="grab"><i class="fa fa-unsorted grab"></i></span>
            <uib-accordion ng-show="item.completed==false" style="margin:0px;width:96%;border-radius:10px">
              <uib-accordion-group is-open="status.open" style="border-radius:10px">
                <uib-accordion-heading style="border-radius:10px">
                  {{item.title}}
                  <i class="pull-right fa" ng-class="{'fa-check':!item.completed,'fa-close':item.completed}" ng-click="item.completed=!item.completed;updateToDo()"></i>
                </uib-accordion-heading>
                <p class="input-group" ng-init="showScheduled=false">
                  <input ng-change="updateToDo()" type="text" class="form-control" uib-datepicker-popup ng-model="item.scheduled" is-open="showScheduled" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="showScheduled=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>

              </uib-accordion-group>
            </uib-accordion>

          </div>
        </div>
      </div>
    </div>
    <div ng-show="progress_tab=='CompletedSteps'" sv-root class="multi-sortable" sv-on-sort='updateToDo()' style="height:100%;width:100%">
      <div class="todo_list" sv-part="Recruit.currentRecruit.Info.Task">
        <div style="height:100%;width:100%">
          <div ng-repeat="item in Recruit.currentRecruit.Info.Task" sv-element class="multi" style="padding:0px;margin-bottom:0px;padding-left:5px;padding-right:5px;position:relative">
            <span ng-show="item.completed==true" sv-handle style="position:absolute;margin-left:5px" class="grab"><i class="fa fa-unsorted grab"></i></span>
            <uib-accordion ng-show="item.completed==true" style="margin:0px;width:96%">
              <uib-accordion-group is-open="status.open" style="border-radius:10px">
                <uib-accordion-heading style="border-radius:10px">
                  {{item.title}}
                  <i class="pull-right fa" ng-class="{'fa-check':!item.completed,'fa-close':item.completed}" ng-click="item.completed=!item.completed;updateToDo()"></i>
                </uib-accordion-heading>
                <p class="input-group" ng-init="showScheduled=false">
                  <input ng-change="updateToDo()" type="text" class="form-control" uib-datepicker-popup ng-model="item.scheduled" is-open="showScheduled" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="showScheduled=true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>

              </uib-accordion-group>
            </uib-accordion>

          </div>
        </div>
      </div>
    </div>
    <div ng-show="progress_tab=='Overview'" class="overview">
      <div class="row">
          <div class="col-md-4 key_header">
            POP Test
          </div>
          <div class="col-md-8 key_status clickable" ng-click="popStatus()" ng-class="{'danger':Recruit.currentRecruit.POP_Status=='Not Sent','warning':Recruit.currentRecruit.POP_Status=='Test Sent','success':Recruit.currentRecruit.POP_Status=='Test Completed'}">
            {{Recruit.currentRecruit.POP_Status}}
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 key_header">
            Color Test
          </div>
          <div class="col-md-8 key_status clickable" ng-click="colorStatus()" ng-class="{'danger':Recruit.currentRecruit.Color_Status=='Not Sent','warning':Recruit.currentRecruit.Color_Status=='Test Sent','success':Recruit.currentRecruit.Color_Status=='Test Completed'}">
            {{Recruit.currentRecruit.Color_Status}}
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 key_header">
            Remaining Steps
          </div>
          <div class="col-md-8 key_status">
            <span class="badge" style="background-color:red"> {{(Recruit.currentRecruit.Info.Task|filter:{'completed':false}).length}}</span>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 key_header">
            Completed Steps
          </div>
          <div class="col-md-8 key_status">
            <span class="badge" style="background-color:green"> {{(Recruit.currentRecruit.Info.Task|filter:{'completed':true}).length}}</span>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div ng-hide="progress_tab=='Overview'" style="width:100%;padding:10px;text-align:middle;position:absolute;width:100%;color:white;height:40px;bottom:0px">
      <span ng-click="todo.status=false">Remaining  <span class="badge" style="background-color:red"> {{(Recruit.currentRecruit.Info.Task|filter:{'completed':false}).length}}</span> </span><span ng-click="todo.status=true">Completed  <span class="badge"  style="background-color:green"> {{(Recruit.currentRecruit.Info.Task|filter:{'completed':true}).length}}</span></span>
    </div>
  </div>
</div>
