<div class="Color_Test scrollbar">
  <div class="PrintButton shadow-4 clickable" ng-click="downloadReport({url:'ColorTest',name:'Color_Test'})">
    <i class="fa fa-print"></i>
  </div>
<div class="header">
Pending Tests
</div>
<div style="margin-left:auto;margin-right:auto;width:100%;display:block;margin-top:20px;position:relative;padding-left:10px">

<table class="color_test shadow-3 table">
  <tr class="shadow-1-row">
    <th>Recruit</th>
    <th>Status</th>
    <th>Date Sent</th>
    <th>Last Contact</th>
    <th></th>

  </tr>
  <tr context-menu="reportColorListOptions" context-menu-class="context_menu" ng-repeat="test in ColorTests|filter:{Status:'!'+'Completed'}" ng-dblclick="goToState('RecruitingLiscence',{user: test.Recruit_ID,UserInfoID:User.user_id})">
  <td>{{test.FNAME +' '+test.LNAME}}</td>
    <td>{{test.Status}}</td>
    <td>{{test.Date_Assigned| cmdate : 'MMM d yyyy hh:mm'}}</td>
    <td>10/10/2016</td>
    <td ng-show="test.Status!='Completed'"><div class="btn-group">
      <div class="btn btn-info">
      Follow Up
    </div><div class="btn btn-danger" ng-click="deleteColorTest(test.Test_Token)">
      Give Up
      </div></div></td>
    <td ng-show="test.Status=='Completed'">
      <div class="btn btn-success" ng-click="downloadTest(test)">
      Download <i ng-class="test.statusspinner"></i>
      </div></td>
  </tr>
</table>
</div>
<div class="header" style="margin-top:20px;">
Completed Tests
</div>
<div style="margin-left:auto;margin-right:auto;width:auto;display:block;margin-top:20px;position:relative;padding-left:10px">

<table class="color_test shadow-3 table" >
  <tr class="shadow-1-row">
    <th>Recruit</th>
    <th>Status</th>
    <th>Date Sent</th>
    <th>Last Contact</th>
    <th></th>

  </tr>
  <tr context-menu="reportColorListOptions" context-menu-class="context_menu" ng-repeat="test in ColorTests|filter:{Status:'Completed'}" ng-dblclick="goToState('RecruitingLiscence',{user: test.Recruit_ID,UserInfoID:User.user_id})" >
  <td>{{test.FNAME +' '+test.LNAME}}</td>
    <td>{{test.Status}}</td>
    <td>{{test.Date_Assigned| cmdate : 'MMM d yyyy hh:mm'}}</td>
    <td>10/10/2016</td>
    <td ng-show="test.Status!='Completed'"><div class="btn-group">
      <div class="btn btn-info">
      Follow Up
    </div><div class="btn btn-danger" ng-click="deleteColorTest(test.Test_Token)">
      Give Up
      </div></div></td>
    <td ng-show="test.Status=='Completed'">
      <div class="btn btn-success" ng-click="downloadTest(test)">
      Download <i ng-class="test.statusspinner"></i>
      </div></td>
  </tr>
</table>
</div>
