<div class="view sidemenu_layout">

    <div ng-init="show={'sidebar':true}" ng-show="show.sidebar" class="sidemenu">
        <div class="header" ng-dblclick="goToState('Reporting.Dashboard',null)">
            Recruiting Reports<div class="button"><i class="fa fa-bars" ng-click="show.sidebar=!show.sidebar;$event.stopPropagation()"></i></div>
        </div>
        <div class="item" ui-sref="app.Reporting.ColorTest">
            Color Test
        </div>
        <div class="item" ui-sref="app.Reporting.PopTest">
            Pop Test
        </div>
    </div>
    <div class="body" ng-style="!show.sidebar && {'padding-left':'0px'}">

        <div class="reporting" ui-view></div>
    </div>
    <div class="sidemenu_tab" ng-show="!show.sidebar" ng-click="show.sidebar=!show.sidebar">
        <i class="fa fa-bars"></i>
    </div>
</div>
