<div class="container-fluid view messaging">
  <div class="tabs">
    <h1>Message Center</h1>
    <h2>Chat</h2>
  </div>
  <div class="row view">
    <div class="col-md-3 sidenav" >
      <div class="input-group search">
        <input ng-model="textSearch" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2">
        <i class="fa fa-search"></i>
      </div>
      <div class="main" style="background-color:#F8F9FA">
        <div >
          <li class="summary" ng-class="{selected:value[0].id_number == currentConversationID}" context-menu="messageListOptions" context-menu-class="context_menu" ng-repeat="(key, value) in User.TextMessages|filter:textSearch|orderBy:['-date_recieved']| groupBy:'[id_number]'" ng-click="showConversation(value[0].id_number)">
            <a style="margin-top:0;top:0;display:inline-block;position:relative" ng-repeat="text in value|orderBy:'-date_recieved'|limitTo:1">
              <img style="height:50px;width:50px;border-radius:100%;display:inline-block;top:5px;position:absolute" ng-src="https://jfsapp.com/Images/Recruits/{{text.ProfilePic || 'blank.jpg'}}">
              <div style="display:inline-block;height:100%;width:300px;position:absolute;padding-left:60px;padding-top:8px">

                <div style="color:black">{{text.RecruitName||text.id_number|phone}}</div>
                <small>{{text.message|truncate:80}}...</small>

            </div>
              <div ng-show="(value|filter:{'status':'0','type':'0'}).length > 0" style="display:inline-block;position:absolute;right:5px;top:5px;">
                <a><span style="background-color:#72D9D2;border-radius:100%;" class="badge shake">{{(value|filter:{'status':'0','type':'0'}).length}}</span></a>
              </div>
            </a>

          </li>
        </div>
      </div>
    </div>
    <div class="col-md-9 mainBody" style="overflow:hidden">

      <div class="chat" ng-repeat="(key, value) in User.TextMessages|filter:{id_number:User.currentTextConversation}|orderBy:['-date_recieved']| groupBy:'[id_number]'" style="height:100%;width:100%;background-color: #555;overflow:hidden">
        <div class="chat_header">
          <img style="height:50px;width:50px;border-radius:100%;display:inline-block;top:5px;position:absolute" ng-src="https://jfsapp.com/Images/Recruits/{{value[0].ProfilePic || 'blank.jpg'}}">
          {{value[0].RecruitName||value[0].id_number|phone}}
        </div>
        <div class="chat_display">

          <div class="chatbody" scroll-glue>
            <div class="chat-bubble" ng-class="{right: (text.type==1), left: (text.type==0)}" ng-repeat="text in value| orderBy:['date_recieved']">{{text.message}}</div>
          </div>
          <div>
          </div>
          <div class="chat-message clearfix">
            <textarea ng-model="newTextMessage" placeholder="Type your message"></textarea>


            <div class="send_btn hvr-grow" ng-click="sendText(value[0].id_number,newTextMessage)">
              <svg  viewBox="1201 719 162 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
                  <defs>
                  
                      <path d="M53.4201556,0.358355556 C53.0730444,0.0112444444 52.5511556,-0.0950888889 52.0977111,0.0894666667 L0.764377778,20.8672444 C0.313377778,21.0493556 0.0139333333,21.4808 0.000488888889,21.9672444 C-0.0129555556,22.4512444 0.262044444,22.8998 0.702044444,23.1075778 L17.9121556,31.2060222 L32.2304889,20.6936889 C32.7939333,20.2793556 33.4991556,20.9845778 33.0848222,21.5480222 L22.5724889,35.8663556 L30.6721556,53.0776889 C30.8738222,53.5066889 31.3052667,53.7780222 31.7782667,53.7780222 L31.8124889,53.7780222 C32.2977111,53.7633556 32.7291556,53.4639111 32.9112667,53.0141333 L53.6890444,1.6808 C53.8736,1.22613333 53.7672667,0.705466667 53.4201556,0.358355556" id="path-2"></path>
                    
                  </defs>
                  <g id="send_icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1282.224749, 800.119424) rotate(38.000000) translate(-1282.224749, -800.119424) translate(1254.724749, 773.230535)">
                      <g id="Fill-1">
                          <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
                          <use fill="white" fill-rule="evenodd" xlink:href="#path-2"></use>
                      </g>
                  </g>
              </svg>
            </div>


          </div>
          <!-- end chat-message -->

        </div>
      </div>

    </div>
  </div>
</div>
