<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span >{{match.model.FNAME}}</span>
        <span >{{match.model.LNAME}}</span>
    </a>
  </script>
  <div class="Agent_FollowUp" ng-controller="RecruitFollowupCtrl">
    <div class="modal-header">
      Follow Up - {{Agents.CurrentAgent.Info.FirstName}} {{Agents.CurrentAgent.Info.LastName}}
    </div>
    <div class="modal-body nopadding">
      <div class="row .full_height">
        <div ng-hide="HideMenu" class="col-md-4 nopadding .full_height">
          <div class="Client_Templates">
            <div class="Client_Search">
              <i class="fa fa-search"></i>
              <input ng-model="search" />
            </div>
            <div ng-click="setCurrent(followup)" ng-repeat="followup in followUp_History|filter:search" class="Template_List" ng-class="{selected:followup.selected}">
              <span class="title">{{followup.date| momentdate : 'MMM D Y @ h:mm a'}}</span>
              <span class="description">{{email.Description}}</span>
            </div>
            <div class="Client_Btn" ng-click="NewFollowUp()">
                    New Follow Up
                  </div>
          </div>
        </div>
        <div class="nopadding .full_height" ng-class="{'col-md-12':HideMenu,'col-md-8':(!HideMenu)}">
          <div class="Client_Content">
            <div class="Client_Toolbar">
              <i class="material-icons">save</i>
              <i ng-click="edit_mode = !edit_mode" ng-hide="edit_mode" class="material-icons">mode_edit</i>
              <i ng-click="edit_mode = !edit_mode" ng-hide="!edit_mode" class="material-icons">remove_red_eye</i>
              <i class="material-icons" ng-click="Preview(Email.CurrentEmail.Template)">refresh</i>
              <i ng-click="setFavorite(CurrentEmail)" class="material-icons" ng-class="{favorite:CurrentEmail.favorite}">star_rate</i>
              <i ng-click="HideMenu=!HideMenu" class="material-icons" style="float:right">zoom_out_map</i>
            </div>
            <div class="Client_Address" ng-class="{expanded:expand_address}">
              <form class="form-inline" autocomplete="off">
                <div class="form-group">
                   <label for="Subject">Date</label>
                  <input autocomplete="off" ng-model="currentFollowUp.date" type="text" class="form-control" id="Subject">
                </div>
            </div>
            <div ng-show="expand_address" class="Client_Attachment">
              <i class="material-icons">attach_file</i>
            </div>
            <div ng-hide="edit_mode" style="width:100%;height:100%">
            <iframe srcdoc="{{currentPreview}}" style="height:100%;width:100%;border:none">
            </iframe>
          </div>
            <div ng-show="edit_mode" style="display:block;position:relative">
              <div summernote config="summernoteOptions" ng-model="Email.CurrentEmail.Template"></div>
  
            </div>
          </div>
        
  
        </div>
      </div>
    </div>
  </div>
  