<div class="modal-header">
	<button type="button" class="close" aria-hidden="true" ng-click="CloseModal()" style="font-size:20pt;vertical-align:middle">&times;</button>
  <div class="row">
    <div class="col-md-3">
      To
    </div>
    <div class="col-md-9">

  </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      From
    </div>
    <div class="col-md-9">

  </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      Subject
    </div>
    <div class="col-md-9">

  </div>
  </div>
</div>
<div class="modal-body" ng-controller ='RecruitCtrl'>
<button type="button" class="close" aria-hidden="true" ng-click="CloseModal()" style="font-size:20pt;vertical-align:middle">&times;</button>
  <div summernote ng-model="Detail"></div>
</div>
