<div class="Dropbox_Client" ng-controller="ResourceCtrl">
  <div class="modal-header">
    <img
      src="{{'https://jfsapp.com/Secure/API/Images/General/Brand/Vendors/dbx-logo.png?access_token='+currentUser.Token.access_token+'&client_id=testclient&client_secret=testpass'}}"
    />
  </div>
  <div class="modal-body nopadding">
    <div class="row .full_height">
      <div
        class="nopadding .full_height"
        ng-class="{'col-md-12':HideMenu,'col-md-12':(!HideMenu)}"
      >
        <div class="Client_Content">
          <div class="Client_Toolbar">
            <i ng-click="goBack()" class="material-icons">arrow_back</i>
            <i ng-click="goToHomeFolder()" class="material-icons">home</i>
          </div>
          <div class="Client_Address">
            <ol class="breadcrumb">
              <li
                class="breadcrumb-item"
                ng-repeat="path in Folder.PathHistory"
              >
                <a ng-click="goToBreadCrumb($index+1)">{{path.name}}</a>
              </li>
            </ol>
          </div>
          <div class="files">
            <div
              ng-repeat="item in Folder.content|orderBy:folderSort"
              class="item"
            >
              <div ng-show="item['.tag']=='folder'" ng-click="goToFolder(item)">
                <div class="folder clickable">
                  <img
                    src="https://jfsapp.com/Images/Icons/Files/Icon_Folder@2x.png"
                  />
                </div>
                <div class="title">{{item.name}}</div>
              </div>
                <div ng-show="item['.tag']=='file'" ng-click="viewItem(item)">
                  <div class="file" ng-class="fileIcon(item)"></div>
                  <div class="title">{{item.name}}</div>
                </div>
              </div>

             
            </div>
            <div class="file-view" ng-show="file_view">
                <div class="file" ng-class="fileIcon(CurrentFile)"></div>
                {{CurrentFile.name}}
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
