<div  ng-controller="RecruitCtrl">
  <div class="modal-header">
    Notes For {{Recruit.currentRecruit.FNAME}}
      <button type="button" class="close" aria-hidden="true" ng-click="User.visibility.recruitSidebar=false" style="font-size:30pt;vertical-align:middle">&times;</button>
  </div>
  <div class="modal-body scrollbar" scroll-glue style="max-height:400px;background:grey">
    <div ng-repeat="note in Recruit.currentRecruit.Info.Notes track by $index"  style="z-index:30px; border-radius:10px; min-width:200px;width:100%; margin-top:5px; margin-bottom:0;border-color:black; background-color:white;">
      <div class="panel-body" >
        {{note.text}}
      </div>
      <div class="panel-footer panel-default" style="border-radius: 0 0 10px 10px; background-color:#F5F5F5;margin-top:-5px;height:37px">
        <span style="float:left">{{note.datetime| date : 'MMM d yyyy @ h:mm a'}}</span><span style="float:right;margin-left:5px">{{note.userName}}</span>
        <div style="float:right;display:block;height:100%"><img style="height:30px; border-radius:30px;top:-7px;position:relative;display:block" src="https://jfsapp.com/Images/ProfilePhotos/{{note.userPhoto}}"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <form id="todo-form" ng-submit="addNote(Text);Text=''">
      <div class="form-group">
        <label for="exampleInputPassword1">Note</label>
        <textarea class="form-control" rows="3" ng-model="Text" required></textarea>
      </div>
      <button style="width:100%;background-color:#BBD9EF" type="submit" class="btn btn-default">Add Note</button>
    </form>
  </div>
</div>
