  <button type="button" class="close" aria-hidden="true" ng-click="CloseModal()" style="font-size:20pt;vertical-align:middle">&times;</button>
<div style="width:100%" ng-controller="PrioritynotificationsCtrl">

<div ng-repeat="notification in Notifications.Priority|limitTo:5 track by $index" class="panel center" style="position:absolute;top:{{$index*10+40}}px; left:{{(Notifications.Priority|limitTo:5).length-$index*10}}px">
  <div ng-include="'views/Modals/Notifications/Templates/Color_Test_Completed.html'">

  </div>
</div>
</div>
