<div class="dashboard">
  <table>
    <tr class="title">
      <td colspan="6">
        Agents
      </td>
    </tr>
    <tr>
      <th></th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="agent in Agents">
      <td class="profile" ng-click="open()"><img ng-src="{{'https://jfsapp.com'+agent.profilepic}}" />
        <div class="info">
          <span><h3>{{agent.FirstName + ' ' + agent.LastName}}</h3></span><span class="market"><b>Area:</b></span><span>{{agent.City}}</span></div>
      </td>
      <td>{{agent.Phone}}</td>
      <td>{{agent.Email}}</td>
      <td>{{agent.Adress}}</td>
      <td>{{agent.City}}</td>
      <td>{{agent.State}}</td>
    </tr>
  </table>
</div>
