<div class="dashboard">
  <div class="row">
    <div class="col-xs-12 nopadding">
      <div class="campaign_header">
        <div class="sub_panel">
          <span>10</span> Subscribers
        </div>
      </div>
    </div>
  </div>
  <div class="row actions">
    <div class="col-sm-6 actions">
      <div class="action">
        <div class="inner">
          <i class="fa fa-envelope"></i>
          <div class="action-button hvr-hang">
            Create New Email
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 actions">
      <div class="action">
        <div class="inner">
          <i class="fa fa-users"></i>
          <div class="action-button hvr-hang">
            Add Contacts
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row info">
    <div class="col-sm-6 nopadding">
      <div class="action">
        <div class="inner">
        <div class="bar" style="width:90%">
          105 Opened
        </div>
        <div class="bar"  style="width:70%">
          70 Clicked
        </div>
        <div class="bar" style="width:50%">
          50 Shared
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 nopadding">
      <div class="action">
        <div class="inner">
          <i class="fa fa-users"></i>
          <div class="action-button">
            Add Contacts
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
