.Dropbox_Client{
  .row{
    padding:0 15px 0 15px;
  }
  .modal-body{
    max-height: 700px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
  }
  .Client_Content{
    .scrollbar;
    height:700px;
    width:100%;
    display: block;
    position: relative;
    border-left: 1px solid fade(@gray-pleasing,20%);
    .DirectionalBoxShadowHelper('right',1);
    .Client_Toolbar{
      background: white;
      width:100%;
      height:55px;
      position: absolute;
      border-bottom: 1px solid fade(@gray-pleasing,20%);
      padding:10px 25px 10px 25px;
      display: block;
      z-index: 1;
      i{
        color:fade(@gray-pleasing,60%);
        font-size:30px!important;
        .clickable;
        margin:0 10px 0 0;
        &.favorite{
          color:@color-secondary-1-4!important;
        }
      }
    }
    .Client_Address{
      .Font_Body;
      font-weight: 900;
      font-size: 18px;
      line-height:35px;
      background: white;
      width:100%;
      height:45px;
      display: block;
      position: relative;
      border-bottom: 1px solid fade(@gray-pleasing,20%);
      padding:5px 10px 5px 10px;
      top:55px;
      position: absolute;
      display: block;
      z-index: 1;
      label{
        .Font_Body;
        color:darken(@tech,30%);
        font-size: 15px;
        text-transform: uppercase;
        margin-right:20px;
      }
      input{
        .Font_Body;
        font-size: 13px;
        border:none;
        box-shadow: none;
        &:focus{
          border-radius: 0;
          background: fade(@gray-pleasing,10%);
        }
      }
      &.expanded{
        height:80px;
      }
    }
    .files{
      .scrollbar;
      height:100%;
      padding:120px 20px 20px 20px;
      .item{
        .folder,.file{
          display: inline-block;
        }
      }
    }

  }
  .Client_Footer{
    position: absolute;
    bottom:0;
    width:100%;
    .Send_Bar{
      .Font_Body;
      width:100%;
      height:50px;
      line-height: 50px;
      text-align: center;
      font-size: 25px;
      background: @tech;
      color:darken(@tech,30%);
      border-top: 1px solid fade(@gray-pleasing,20%);
      .BoxShadowHelperUp(1);
    }
  }
}
