<div class="dashboard">
  <table>
    <tr class="title">
      <td colspan="13">
        Recruits
      </td>
    </tr>
    <tr>
      <th></th>
      <th>POP</th>
      <th>Color</th>
      <th>TODO</th>
      <th>Email</th>
      <th>Type</th>
      <th>Source</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>State</th>
      <th></th>
    </tr>
    <tr context-menu="recruitListOptions" ng-repeat="recruit in (Recruits.List|filter:{RecruitStatus_ID:1}).slice(((Recruits.currentPage-1)*itemsPerPage), ((Recruits.currentPage)*itemsPerPage))">
      <td class="profile" >
        <div ng-click="viewRecruit(recruit.INDV_ID)" class="img_container clickable" style="width:80px;height:80px;overflow:hidden;position:absolute;display:inline-block;background-color:#EBF4F3">
        <img ng-src="https://jfsapp.com/Images/Recruits/{{recruit.ProfilePic || 'blank.jpg'}}" style="heigth:100%;box-shadow:none">
        </div>

        <div ng-dblclick="rowform.$show()" class="info" style="display:inline-block">
          <span><h3 class="expand" style="font-size:20px"><span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.FNAME" e-name="FNAME" e-form="rowform">{{recruit.FNAME}}</span> <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.LNAME" e-name="LNAME" e-form="rowform">{{recruit.LNAME}}</span></h3></span>
        </div>
      </td>
      <td ng-dblclick="rowform.$show()">
        <span  e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.POP" e-name="POP" e-form="rowform">{{recruit.POP}}</span>
      </td>
      <td ng-dblclick="rowform.$show()">
        <span  e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.POP" e-name="POP" e-form="rowform">{{recruit.fa}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span  e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.NextStep" e-name="NextStep" e-form="rowform">{{recruit.NextStep}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.EMAIL" e-name="EMAIL" e-form="rowform">{{recruit.EMAIL}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.Type" e-name="Type" e-form="rowform">{{recruit.Type}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.Source" e-name="Source" e-form="rowform">{{recruit.Source}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.BUS_PH_NBR" e-name="BUS_PH_NBR" e-form="rowform">{{recruit.BUS_PH_NBR}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.LINE_ONE_ADDR" e-name="LINE_ONE_ADDR" e-form="rowform">{{recruit.LINE_ONE_ADDR}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.CITY_NAME" e-name="CITY_NAME" e-form="rowform">{{recruit.CITY_NAME}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.PSTL_CD" e-name="PSTL_CD" e-form="rowform">{{recruit.PSTL_CD}}</span>
      </td>
      <td class="expand" ng-dblclick="rowform.$show()">
        <span e-style="width:30px;padding-left:10px;padding-right:10px" editable-text="recruit.ST_CD" e-name="ST_CD" e-form="rowform">{{recruit.ST_CD}}</span>
      </td>
      <td style="white-space: nowrap;vertical-align:middle">
					<!-- form -->
					<form editable-form name="rowform" onbeforesave="saveRecruit(recruit)" ng-show="rowform.$visible" class="form-buttons form-inline" >
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
						<button class="btn btn-danger" ng-click="removeRecruit(recruit)">del</button>
					</div>
				</td>
    </tr>
  </table>
</div>
 <ul style="margin-left:30px" uib-pagination total-items="Recruits.List.length" ng-model="Recruits.currentPage" max-size="3" class="pagination-sm" boundary-link-numbers="true" rotate="true"></ul>
